.btn.btn-primary{
    background-color: var(--blue-color);
    color: var(--white-color);

}

.btn.outline-primary{
    border: 1px solid var(--blue-color);
    padding: 0 48px !important;
    height: 72px;

}
.btn.outline-secondary{
    border: 1px solid var(--white-color);
    padding: 0 48px !important;
    height: 72px;

}
.btn{
    cursor: pointer;
    border-radius: 100px !important;
    padding: 0 24px !important;

}